<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Thêm Sách Mới</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="page-title">➕ Thêm Sách Mới</h1>
        
        <form th:action="@{/books/add}" method="post" th:object="${book}" class="row g-3">
            <div class="col-md-6">
                <label for="title" class="form-label">Tiêu đề:</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" 
                       placeholder="Nhập tiêu đề sách" required>
            </div>
            
            <div class="col-md-6">
                <label for="author" class="form-label">Tác giả:</label>
                <input type="text" id="author" th:field="*{author}" class="form-control" 
                       placeholder="Nhập tên tác giả" required>
            </div>
            
            <div class="col-md-6">
                <label for="edition" class="form-label">Phiên bản:</label>
                <input type="number" id="edition" th:field="*{edition}" class="form-control" 
                       placeholder="Nhập số phiên bản" min="1">
            </div>
            
            <div class="col-md-6">
                <label for="publisher" class="form-label">Nhà xuất bản:</label>
                <input type="text" id="publisher" th:field="*{publisher}" class="form-control" 
                       placeholder="Nhập nhà xuất bản">
            </div>
            
            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">
                    💾 Thêm sách
                </button>
                <a th:href="@{/books}" class="btn btn-secondary ms-2">
                    ↩️ Quay lại
                </a>
            </div>
        </form>
    </div>
</body>
</html>
